/* architects styles */

.container{

    background-color: #FF900E1A;
}
.architect{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
margin-left: 15px;
padding-left: 130px;
padding-top: 20px;
}

.top-bar{
    display: flex;
    
}

.right-top{
    display: flex;
    margin-left: 650px;
    margin-top: 70px;
    margin-right: 24px;
    gap: 15px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
  
}

.brand-new{
    padding-left: 400px;
    padding-right: 370px;
}

.header-2{
    font-family: 'Work Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
   text-align: center;
}

.header-2-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.btn-first{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 13px;
    margin-right: 400px;
    margin-left: 620px;
    border: none;
    margin-bottom: 30px;
}

.first-image{
    padding-left: 170px;
    padding-bottom: 30px;
    border-radius: 8px;

}

.first-image img{
    height: 460px ;
    width: 1000px ;
}

/* second section */

.container-2{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    gap: 50px;
    padding-left: 260px;
    padding-right: 250px;
    margin-bottom: 100px;

}

.image-grid img{
    height: 202px;
    width: 160px;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    column-gap: 16px;
    row-gap: 10px;
}

.quick{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}

.of-our{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
}

.features{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.team-box-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
        
}

.btn-second{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 13px;
    border: none;
    margin-bottom: 30px;    

}


/* 3rd section styles */


.container-3-main{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-3-written-part{
         padding-left: 30px;
         padding-right: 30px;    
}

.feature-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.header-4{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
border-left: 4px solid #FF900E;

}

.header-4-info{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;

}

.feature-title{
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #131313;
padding-left: 30px;
padding-right: 15px;
padding-top: 15px;

}

.feature-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    
}

.pretty-girl-with-button img{
             
           height: 820px;
           width: 650px;
           border-radius: 8px;
           padding-left: 50px;
           padding-right: 50px;
           padding-top: 90px;

}

.pretty-girls-button{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 70px;
text-align: center;
color: #FFFFFF;
padding-top: 21px ;
padding-bottom: 20px;
background-color: #FF900E;
border-radius: 8px;
border: none;

}

.exp{
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
text-align: center;
margin-bottom: 20px;

}


.pretty-girl-with-button .pretty-girls-button{

    position: relative;
    top: 1%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
}
