/* architects styles */

.container{

    background-color: #FF900E1A;
}
.architect{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
margin-left: 15px;
padding-left: 130px;
padding-top: 20px;
}

.top-bar{
    display: flex;
    
}

.right-top{
    display: flex;
    margin-left: 650px;
    margin-top: 70px;
    margin-right: 24px;
    gap: 15px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
  
}

.brand-new{
    padding-left: 400px;
    padding-right: 370px;
}

.header-2{
    font-family: 'Work Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
   text-align: center;
}

.header-2-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.btn-first{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 13px;
    margin-right: 400px;
    margin-left: 620px;
    border: none;
    margin-bottom: 30px;
}

.first-image{
    padding-left: 170px;
    padding-bottom: 30px;
    border-radius: 8px;

}

.first-image img{
    height: 460px ;
    width: 1000px ;
}


/* second section */

.container-2{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    gap: 50px;
    padding-left: 260px;
    padding-right: 250px;
    margin-bottom: 100px;

}

.image-grid img{
    height: 202px;
    width: 160px;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    column-gap: 16px;
    row-gap: 10px;
}

.quick{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}

.of-our{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
}

.features{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.team-box-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
        
}

.btn-second{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 13px;
    border: none;
    margin-bottom: 30px;    

}


/* 3rd section styles */


.container-3-main{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-3-written-part{
         padding-left: 30px;
         padding-right: 30px;    
}

.feature-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.header-4{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
border-left: 4px solid #FF900E;

}

.header-4-info{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;

}

.feature-title{
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #131313;
padding-left: 30px;
padding-right: 15px;
padding-top: 15px;

}

.feature-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    
}

.pretty-girl-with-button img{
             
           height: 820px;
           width: 650px;
           border-radius: 8px;
           padding-left: 50px;
           padding-right: 50px;
           padding-top: 90px;

}

.pretty-girls-button{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 70px;
text-align: center;
color: #FFFFFF;
padding-top: 21px ;
padding-bottom: 20px;
background-color: #FF900E;
border-radius: 8px;
border: none;

}

.exp{
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
text-align: center;
margin-bottom: 20px;

}


.pretty-girl-with-button .pretty-girls-button{

    position: relative;
    top: 1%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
}



@media screen and (max-width:576px){
    .container-4-list{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .section-4-title{
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }
    
}



/* section 4 styles */

.container-4{
    margin-bottom: 130px;
}

.container-4-title{
      
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
padding-left: 80px;

}

.container-4-info{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
padding-left: 80px;

}

.container-4-list{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.fact-list{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;

}

.fact-list img{
    padding-left: 60px;
    padding-top: 14px;
}

.fact-list:hover{
   
    transform: rotate(49deg);
}

.fact-title{
    font-family: 'Work Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 35px;
   padding-left: 60px;
}

.fact-info{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
color: #727272;
padding-left: 40px;
}



/* unique section styles */
.unique{
         margin-bottom: 150px;
         text-align: center;

}

.unique-header{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
}

.unique-para{
 font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;

}

.container-5{
    text-align: center;
    margin-bottom: 100px;
}

.container-5-header{

    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;

}


.container-5-para{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
padding-bottom: 20px;

}

.iconic{
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-bottom: 50px;
}

/* footer styles */
.foot{
    background-color: #FFF4E7;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.footer{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #424242;

}


/* responsive for mobile */



@media screen and (max-width:576px){
      
    .container{
        background-color: none;
    }
     .top-bar{
       display: grid;
       grid-template-columns: repeat(1,1fr);
        background-color: none;
     }
     
    .first-image img{
        height: 200px;
        width: 100%;
    }

    .container-4-list{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .section-4-title{
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }

    .iconic{
        flex-direction: column;
    }

    .container-3-main{
        flex-direction: column;
    }

    .pretty-girl-with-button img{
        height: 100%;
        width: 100%;
    }

    .image-grid{
        grid-template-columns: repeat(1,1fr);
        margin-left: none;
    }

    .container-2{
        flex-direction: column;
    }
 
    
}
